/* Añade estilos adicionales según sea necesario */
.navbar-brand {
    font-size: 24px;
}

.navbar.bg-dark {
    background-color: #3F2305 !important;
}

body {
    background-color: #F3EEEA;
}

.btn-outline-secondary {
    border: none; /* Esto quitará el borde */
}

/* Si solo quieres quitar el borde al pasar el mouse, usa :hover */
.btn-outline-secondary:hover {
    border: none; /* Esto quitará el borde al pasar el mouse */
}

/* Enlaces de navegación */
.nav-link {
    border: 1px solid white;
    padding: 6px 10px; /* Reducir el relleno vertical y horizontal */
    border-radius: 5px;
}

.nav-link:hover {
    background-color: grey;
    color: white;
}

/* Tabla de usuarios */
.table {
    margin-top: 40px; /* Espacio superior */
    font-size: 16px; /* Tamaño de fuente */
    width: 100%; /* Ancho completo de la tabla */
    border-collapse: collapse; /* Colapso de borde para evitar espacios entre celdas */
}


.table td,
.table th {
    padding: 8px; /* Reducir el relleno de las celdas */
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.table th {
    font-size: 18px; /* Reducir el tamaño de la fuente de los encabezados */
    background-color: #f2f2f2; /* Color de fondo de los encabezados */
    font-weight: bold; /* Negrita */

}

.table th,
.table td {
    padding: 8px; /* Espaciado interno de las celdas */
    text-align: center; /* Alineación centrada horizontalmente */
    vertical-align: middle; /* Alineación centrada verticalmente */
}

.table tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

/* Eliminar el borde de la tabla y dar un aspecto de tabla más compacto */
.table-border-color{
    border-color: green;
    border-collapse: collapse;
}

/* Agrega margen a la derecha del botón de borrar */
.btn-borrar {
    margin-right: 10px; /* Puedes ajustar este valor según sea necesario */
}


/* Highlight active nav button */
.navbar-nav .nav-item .btn {
    transition: background-color 0.3s ease;
}

.navbar-nav .nav-item .btn.active {
    background-color: grey; /* Change to the color you prefer */
    color: white;
}

/* style.css */
.btn-danger {
    background-color: #cd4040; /* Color de fondo personalizado */
    color: white; /* Color del texto */
    border: none; /* Sin bordes */
    padding: 5px 10px; /* Espaciado interior */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
}

.btn-custom-borrar:hover {
    background-color: #141111; /* Color de fondo al pasar el ratón */
}
