/* Añade estilos adicionales según sea necesario */
.navbar-brand {
    font-size: 24px;
}

.navbar.bg-dark {
    background-color: #3F2305 !important;
}

body {
    background-color: #F3EEEA;
}

.btn-outline-secondary {
    border: none; /* Esto quitará el borde */
}

/* Si solo quieres quitar el borde al pasar el mouse, usa :hover */
.btn-outline-secondary:hover {
    border: none; /* Esto quitará el borde al pasar el mouse */
}

/* Enlaces de navegación */
.nav-link {
    border: 1px solid white;
    padding: 6px 10px; /* Reducir el relleno vertical y horizontal */
    border-radius: 5px;
}

.nav-link:hover {
    background-color: grey;
    color: white;
}

/* Tabla de usuarios */
.table {
    margin-top: 40px; /* Espacio superior */
    font-size: 16px; /* Tamaño de fuente */
    width: 100%; /* Ancho completo de la tabla */
    border-collapse: collapse; /* Colapso de borde para evitar espacios entre celdas */
}

.table td,
.table th {
    padding: 8px; /* Reducir el relleno de las celdas */
}

.table th {
    font-size: 18px; /* Reducir el tamaño de la fuente de los encabezados */
    background-color: #f2f2f2; /* Color de fondo de los encabezados */
    font-weight: bold; /* Negrita */

}

.table th,
.table td {
    padding: 8px; /* Espaciado interno de las celdas */
    text-align: center; /* Alineación centrada horizontalmente */
    vertical-align: middle; /* Alineación centrada verticalmente */
}

.table tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

/* Eliminar el borde de la tabla y dar un aspecto de tabla más compacto */
.table-border-color{
    border: none;
    border-collapse: collapse;
}
