/* Añade estilos adicionales según sea necesario */
.navbar-brand {
    font-size: 24px;
}

.navbar.bg-dark {
    background-color: brwon !important;
}


.btn-outline-secondary {
    border: none; /* Esto quitará el borde */
}

/* Si solo quieres quitar el borde al pasar el mouse, usa :hover */
.btn-outline-secondary:hover {
    border: none; /* Esto quitará el borde al pasar el mouse */
}


/* Enlaces de navegación */
.nav-link {
    border: 1px solid white;
    padding: 8px 12px;
    border-radius: 5px;
}

.nav-link:hover {
    background-color: grey;
    color: white;
}

/* Tabla de usuarios */
.table {
    margin-top: 20px;
}

.table th, .table td {
    text-align: center;
}

.table tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.nav-link-divider {
    display: inline-block;
    width: 1px;
    height: 10px;
    margin: 0 10px;
    background-color: rgba(255, 255, 255, 0.5); /* Color del separador */
}
